.navbar {
  height: 72px;
  background-color: #213f6a;
  display: flex;
  align-items: center;
  padding: 0 42px;
  font-family: "Montserrat", sans-serif;
}

/* BRAND */

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  min-width: 280px;
}

.brand-icon {
  font-size: 40px;
  color: white;
}

.brand-text {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

/* LINKS */

.navbar-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-links a {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.navbar-links a:hover {
  color: #dbeafe;
}

/* RIGHT SIDE */

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 22px;
}

/* SEARCH */

.search-box {
  width: 270px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;

  transition: 0.3s ease;
}
.search-box:focus-within {
  border-color: white;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
}

.search-box input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  padding: 0 18px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  caret-color: white;
}

.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.search-box button {
  width: 48px;
  height: 65%;
  border-left: 1px solid rgba(255, 255, 255, 0.35);
  background: transparent;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button:hover {
  color: #dbeafe;
}

/* ICONS */

.nav-icon {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon:hover {
  color: #dbeafe;
}
